<!DOCTYPE html>
<html>
<head>
    <title>Retrieve password</title>
    <meta charset="utf-8">
 
    <style>
        body {
            font-family: 'Overpass', sans-serif;
            font-weight: normal;
            font-size: 100%;
            margin: 0;
        }

        #contenedor {
        display: flex;
        align-items: center;
        justify-content: center;

        margin: 0;
        padding: 0;
        min-width: 100vw;
        min-height: 100vh;
        width: 100%;
        height: 100%;
        }

        #central {
            max-width: 320px;
            width: 100%;
        }

        .titulo {
            font-size: 250%;
            color: #D85928;
            text-align: center;
            margin-bottom: 20px;
        }

        #form-password {
            width: 100%;
            padding: 50px 30px;
            background-color: #FF6F37;
    
            -webkit-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
            -moz-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
            box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    
            border-radius: 3px 3px 3px 3px;
            -moz-border-radius: 3px 3px 3px 3px;
            -webkit-border-radius: 3px 3px 3px 3px;
    
            box-sizing: border-box;
        }

    #form-password input {
        font-family: 'Overpass', sans-serif;
        font-size: 110%;
        color: #1b262c;
    
        display: block;
        width: 100%;
        height: 40px;
    
        margin-bottom: 10px;
        padding: 5px 5px 5px 10px;
    
        box-sizing: border-box;
    
        border: none;
        border-radius: 3px 3px 3px 3px;
        -moz-border-radius: 3px 3px 3px 3px;
        -webkit-border-radius: 3px 3px 3px 3px;
    }

    #form-password input::placeholder {
        font-family: 'Overpass', sans-serif;
        color: #FF6F37;
    }

    #form-password button {
        font-family: 'Overpass', sans-serif;
        font-size: 110%;
        color: white;
        width: 100%;
        height: 40px;
        border: none;
    
        border-radius: 3px 3px 3px 3px;
        -moz-border-radius: 3px 3px 3px 3px;
        -webkit-border-radius: 3px 3px 3px 3px;
    
        background-color: #D85928;
    
        margin-top: 10px;
    }

    .error {color:red;}

    </style>
 
    <script>

    const showError = (element, error) => {
        const errorEl=document.createElement("div");
        errorEl.setAttribute("class","error");
        errorEl.innerHTML=error;
        document.querySelector(element).parentElement.prepend(errorEl);
    }
 
    const validatePassword = () => {

        const parameters = location.search.substring(1).split("&");

        const temp = parameters[0].split("=");
        document.getElementById("token").value = unescape(temp[1]);;
    
        const pasNew1=document.formName.passwordNew1.value;
        const pasNew2=document.formName.passwordNew2.value;
 

        const patron1=new RegExp("[0-9]+");

        const patron2=new RegExp("[a-zA-Z]+");
 
        for (let el of document.querySelectorAll("div[class=error]")) {
            el.remove();
        }
 
        if (pasNew1!=pasNew2 || pasNew1.length<8 || pasNew1.search(patron1)<0 || pasNew1.search(patron2)<0) {
            if (pasNew1.length<8) {
                showError("input[name=passwordNew1]", "The minimum length has to be 8 characters");
            } else if (pasNew1!=pasNew2) {
                showError("input[name=passwordNew1]", "Passwords do not match");
            } else if (pasNew1.search(patron1)<0 || pasNew1.search(patron2)<0) {
                showError("input[name=passwordNew1]", "Password too weak");
            }
            return false;
        }
        return true;
    }
    </script>
</head>
 
<body>
 
<div id="contenedor">
    <div id="central">
        <div id="form-password">
            <div class="titulo">
                Forgot Password
            </div>
            <form id="form" name="formName" action="/auth/change-password" method="POST" onsubmit='return validatePassword()'>

                <div><input type="password" name="passwordNew1" placeholder="New Password" required></div>
                <div><input type="password" name="passwordNew2" placeholder="Repeat Password" required></div>
                <div><input type="hidden" name="token" id="token"/></div>
                        
                <button type="submit" title="Set New Password" name="Set New Password">Set New Password</button>
            </form>
                    
        </div>               
    </div>
</div>
 
</body>
</html>